Morphed/Config/Secrets.xcconfig
**/UserInterfaceState.xcuserstate
**/xcuserdata/
supabase/.temp/
Morphed.xcodeproj/project.xcworkspace/xcshareddata/

# Dependencies
**/node_modules/

# Backend environment files
morphed-backend/.env
.package-lock.json
